[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Xiao Ba
	email = sudoers@baxiaoba.com
[alias]
	st = status
	s = status
	br = branch
	co = checkout
	ci = commit
	staged = diff --cached
[push]
	default = tracking
[core]
	excludesfile = /Users/xiaoba/.gitignore_global
