[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Xiao Ba
	email = bbxiao1@gmail.com
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
	staged = diff --cached
[push]
	default = tracking
[core]
	excludesfile = /Users/xiaoba/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
